#paragraf3{
    background-color: brown;
}

#paragraf1{
    background-color: magenta;
    font-size: 30px;
    color: aqua;
}

.paragraf6{
    background-color: black;
}

#paragraf8b{
    background-color: aquamarine;
    border: 5px solid burlywood;
    margin: 50px;
    padding: 15px;
}