body{
    background-color: black;
    color: aliceblue;
}

.container{
    background-color: rgb(65, 54, 54);
    width: 80%;
    margin: auto;
    border-radius: 50px;
}

.heading{
    font-family: 'Lobster', cursive;
}

span{
    color: red;
}

#marvel{
    color: red;
}

#title{
    text-align: center;
    font-size: 90px;
}

#image{
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 20px;

}

#life{
    text-align: center;
}

#info{
    font-size: 25px;
    text-align: justify;
}

ul{
    margin: 10% auto;
    width: 80%;
}

li{
    font-size: ;
}